* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    width: 100vw;
}

li{
    list-style: none;
}

a{
    color: black !important;
    text-decoration: none;
}

.menu{
    display: flex;
    gap: 5rem;
    text-transform: uppercase;
}

.logo{
    text-transform: capitalize;
    font-size: 30px;
    cursor: pointer;
}